<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FENDI</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <div id="header">
        <h1>
            FENDI
        </h1>
    </div>
    <div id="content">
        {% block content %}
        <p>Missing content!</p>
        {% endblock %}
    </div>
</body>

    <script src={{ scriptSrc }}></script>
    <script src="/js/index.js"></script>
</html>
