<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FENDI</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
</head>

<body>
    <div id="header">
        <h1>
            FENDI
        </h1>
    </div>
    <div id="content">
        {% block content %}
        <p>Missing content!</p>
        {% endblock %}
    </div>
</body>

    <script src={{ scriptSrc }}></script>
    <script src="/assets/index.js"></script>
</html>
