* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Helvetica, Arial;
}


#header {
    /* width: 100vw; */
    text-align: center;
}

#header h1 {
    margin: 1rem;
    color: black;
    width: auto;
    padding: 1rem;
    font-size: 2em;
    background-color: white;
    cursor: pointer;
    user-select: none;
    transition: all .2s linear;
}

#header h1:Hover {
    background-color: black;
    color: white;
}

h2 {
    font-size: 1.2em;
}

textarea {
    width: 500px;
    height: 300px;
}

input[type=text],
textarea {
    border: 1px solid #eee;
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-radius: 2px;
    padding: 15px;
    font-size: .8em;
}

input[type=text] {
    width: 500px;
}


.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.m-box {
    padding: 1em;
}

.normalPriceTag {
    text-decoration: line-through;
}

.offerPriceTag {
    font-weight: bolder;
}

.product {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .15);
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}

.product .thumbnail {
    overflow: hidden;
}

.product .thumbnail img {
    transition: transform .5s ease-in-out;
}

.product:hover .thumbnail img {
    transform: scale(1.1);
}


